---
---

<div class="nav-links">
  <a href="/demo-astro-blog/">Home</a>
  <a href="/demo-astro-blog/about">About</a>
  <a href="/demo-astro-blog/blog">Blog</a>
  <a href="/demo-astro-blog/tags">Tags</a>
</div>
